.player-question {
    background-color: #fff;
    color: var(--gray);
    border-radius: 2px;
    padding: 20px;
    margin: 12px;
    margin-bottom: 4vh;
}

.player-answer {
    position: relative;
    background-color: #fff;
    color: var(--gray);
    border-radius: 2px;
    padding: 10px 2.1em;
    margin: 10px 10px 10px 10px;
    text-align: left;
    margin-bottom: 4vh;
}

@media (hover: hover) {
    .player-answer:hover {
        background-color: #EED8FC;
        cursor: pointer;
    }
}

.player-answer-letter {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--gray);
    color: #fff;
    height: 100%;
    padding: 10px 10px 0 10px;
    font-size: 1.0em;
}